<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<ui:composition>				
		<h:outputText value="Login:"/>
		<p:inputText id="login" value="#{usuarioControl.usuario.login}"/>
		
		<h:outputText value="Senha:"/>
		<p:password id="senha" value="#{usuarioControl.usuario.senha}"/>
							
		<h:outputText value="Perfil: "/>
		<p:selectOneMenu id="perfil" value="#{usuarioControl.usuario.perfil}"
			converter="objectConverter">
			<f:selectItem itemLabel="Selecione o perfil" itemValue=""/>
			<f:selectItems value="#{perfilUsuarioControl.perfisUsuarios}" var="p"
				itemLabel="#{p.nome}" itemValue="#{p}"/>
		</p:selectOneMenu>
		
		<h:outputText value="Empresas Permitidas: "/>
		<p:autoComplete id="empresasPermitidas" multiple="true" value="#{usuarioControl.empresasSelecionadas}"
			completeMethod="#{usuarioControl.buscarEmpresa}" var="e" size="40"
			itemLabel="#{e.nomeFantasia}" itemValue="#{e}" converter="objectConverter">
			<p:ajax event="itemSelect" listener="#{usuarioControl.selecionarEmpresa}"/>
		</p:autoComplete>
		
		<h:outputText value="Ativo: "/>
		<p:selectBooleanCheckbox id="ativo" value="#{usuarioControl.usuario.ativo}"/>
	</ui:composition>
</html>