<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<f:metadata>
    <f:viewAction action="#{dashboardControl.carregar}" />
</f:metadata>			
	
<ui:composition template="/templates/principal.xhtml">
	<ui:define name="corpo">
		<p/>
		<p:panel header="Dashboard" id="dashboard">
			<h:panelGrid columns="7">
				<h:outputText value="Empresa: "/>
				<p:selectOneMenu id="empresa" value="#{dashboardControl.empresa}"
					converter="objectConverter">
					<f:selectItem itemLabel="Selecione a empresa" itemValue=""/>
					<f:selectItems value="#{empresaControl.empresas}" var="e"
						itemLabel="#{e.razaoSocial}" itemValue="#{e}"/>						
				</p:selectOneMenu>
				
				<h:outputText value="Safra: "/>
				<p:selectOneMenu id="safra" converter="objectConverter"
					value="#{dashboardControl.safra}" style="width:160px">
					<f:selectItem itemLabel="Selecione" itemValue=""/>
					<f:selectItems value="#{safraControl.safras}" var="s"
						itemLabel="#{s.nome}" itemValue="#{s}"/>						
				</p:selectOneMenu>					
				
				<h:outputText value="Cultura:"/>
				<p:selectOneMenu id="cultura" converter="objectConverter"
					value="#{dashboardControl.cultura}" style="width:160px">
					<f:selectItem itemLabel="Selecione" itemValue=""/>
					<f:selectItems value="#{planejamentoControl.culturas}" var="c"
						itemLabel="#{c.nome}" itemValue="#{c}"/>										
				</p:selectOneMenu>	
				
				<p:commandButton value="Consultar" actionListener="#{dashboardControl.carregar}" update=":form" ajax="false"/>
												
			</h:panelGrid>
			
			<p/>
			
			<h:panelGrid id="graficos" columns="2">
				<p:chart type="bar" model="#{dashboardControl.totaisPorCultura}" style="height:350px;width:600px"/>
				<p:chart type="bar" model="#{dashboardControl.receitaDespesaPorCultura}" style="height:350px;width:600px"/>
			</h:panelGrid>
		</p:panel>
	</ui:define>
</ui:composition>	
</html>