<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<f:metadata>
    <f:viewAction action="#{usuarioControl.carregar}" />
</f:metadata>	

<ui:composition template="/templates/principal.xhtml">

	<ui:define name="estilo">
		<h:outputStylesheet library="css" name="principal.css" />
	</ui:define>
	
	<ui:define name="corpo">
		<p:layout>
		    <p:layoutUnit position="center" visible="false"/>		    
		</p:layout>
	</ui:define>
</ui:composition>	
</html>